/* For full-screen to work need to set body to 100% height without margins */
html, body {
   height: 100%;
   margin: 0;
}

.carousel {
    height: 100%;
    width: 100%;
}

/* To overlay the caption with the image */
.carousel-caption {
    z-index: 10;
}

.carousel .item {
    width: 100%;
    height: 100%;

    background-color: black;
}

.carousel-inner > .item > img {
    position: relative;
}

@media (min-width: 768px) {
    .carousel-caption p {
        margin-bottom: 30%;
        font-size: 21px;
        line-height: 1.4;
        padding: 0;
        height: 150px;
    }
}

.solution {
    background-color:rgba(199, 217, 224, 0.5);
    width: 50%;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
    color: white;
    font-size: 15px;
}
